<header>
    <div class="content-wrapper">
        <div class="float-left">
        </div>
    </div>
</header>
<div id="body">
    <form class="form-inline" name="form1" method="post" action="../padrontish/actualizar" enctype="multipart/form-data">
        <div>
            <br />
            <label class="control-label">
                Buscar Padron TISH
            </label>
            <input class="btn-default" name="myFile" type="file" required/>
        </div>
        <br />
        <div>
            <input style="font-size:medium" class="btn-primary" type="submit" value="Subir" />
        </div>
    </form>
